.product-image {
    width: 200px;
    height: 200px; 
    object-fit: cover; 
  }
  .add-container{
    padding-top: 40px;
  }
  .add-container h2{
    margin-left: 5px;
    font-weight: bold;
    color: #000;
  }