        <section class="about-style-two" id="about">
            <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_two">
                    <div class="image-box">
                    <div class="shape">
                        <div class="shape-1"></div>
                        <div class="shape-2"></div>
                    </div>
                    <figure class="image"><img src="{{ camping.image }}" alt=""></figure>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_three">
                    <div class="content-box">
                    <div class="sec-title">
                        <span class="sub-title">Our Introductions</span>
                        <h2>We’re Experienced Camp Organizer</h2>
                    </div>
                    <h6 class="text-danger text-uppercase">{{ camping.discount }}% Off</h6>
                    <h4 class="mb-4">Price : <span class="text-muted me-2"><del>{{ camping.price }} DT</del></span>
                        <b>{{ camping.price - (camping.price * (camping.discount / 100)) }}DT</b>
                    </h4>
                    <div class="text">
                        <div [innerHTML]="getSanitizedContent()"></div>
                    </div>
        
                    <div class="support-box">
                        <div class="icon"><i class="flaticon-phone"></i></div>
                        <span>Call Anytime</span>
                        <h5><a href="tel:+216{{ camping.telephone }}">+216{{ camping.telephone }}</a></h5>
                    </div>
        
                    <div class="inner-box">
                        <div class="inner">
                        <div class="icon-box"><i class="flaticon-camping"></i></div>
                        <span>Join Our <br />Camping Tour</span>
                        </div>
                        <ul class="list-style-one clearfix">
                        <li>Making this the first true internet</li>
                        <li>Lorem Ipsum is not simply text</li>
                        <li>If you are going to a passage</li>
                        </ul>
                        <div class="author-box clearfix">
                        <figure class="author-thumb"><img src="assets/images/resource/author-1.jpg" alt=""></figure>
                        <figure class="signature"><img src="assets/images/icons/signature-1.png" alt=""></figure>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- about-style-two end -->
        
        <!-- feature-style-two -->
        <section class="feature-style-two centred">
            <div class="auto-container">
            <div class="row clearfix">
                <div class="upper-box centred">
                <div class="sec-title">
                    <span class="sub-title">What We’re Offering</span>
                    <h2>Our Activities</h2>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block" *ngFor="let activity of camping.activities">
                <div class="feature-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                    <figure class="image-box"><img src={{ activity.image }} alt=""></figure>
                    <div class="lower-content">
                        <h3><a [routerLink]="['activity-details', activity.id]">{{ activity.label }}</a></h3>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block" *ngIf="camping.activities.length==0">
                <div class="feature-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                    <figure class="image-box">
                        <img src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" alt="">
                    </figure>
                    <div class="lower-content">
                        <h3><a>no activities found</a></h3>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- feature-style-two end -->
        
        <!-- gallery-style-two -->
        <section class="gallery-style-two" id="gallery">
            <div class="outer-container">
            <div class="gallery-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                <div class="gallery-block-two">
                <div class="inner-box">
                    <figure class="image"><img src="assets/images/gallery/gallery-5.jpg" alt=""></figure>
                    <div class="view-btn">
                    <a href="assets/images/gallery/gallery-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
                </div>
                <div class="gallery-block-two">
                <div class="inner-box">
                    <figure class="image"><img src="assets/images/gallery/gallery-6.jpg" alt=""></figure>
                    <div class="view-btn">
                    <a href="assets/images/gallery/gallery-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
                </div>
                <div class="gallery-block-two">
                <div class="inner-box">
                    <figure class="image"><img src="assets/images/gallery/gallery-7.jpg" alt=""></figure>
                    <div class="view-btn">
                    <a href="assets/images/gallery/gallery-7.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
                </div>
                <div class="gallery-block-two">
                <div class="inner-box">
                    <figure class="image"><img src="assets/images/gallery/gallery-8.jpg" alt=""></figure>
                    <div class="view-btn">
                    <a href="assets/images/gallery/gallery-8.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
                </div>
                <div class="gallery-block-two">
                <div class="inner-box">
                    <figure class="image"><img src="assets/images/gallery/gallery-9.jpg" alt=""></figure>
                    <div class="view-btn">
                    <a href="assets/images/gallery/gallery-9.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus"></i></a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- gallery-style-two end -->
        
        <!-- Feedback section -->
        <section class="testimonial-section bg-color-2">
            <div class="outer-container clearfix">
            <div class="testimonial-inner pull-left">
                <div class="shape" style="background-image: url(assets/images/shape/shape-8.png);"></div>
                <div class="testimonial-content">
                <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                    <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let feedback of feedbacks; let i = index" [class.active]="i === 0">
                        <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-quote"></i></div>
                        <div class="text">
                            <h3>{{ feedback.description }}</h3>
                        </div>
                        <div class="author-box">
                            <figure class="author-thumb"><img src="{{feedback.user.avatar}}" alt=""></figure>
                            <span class="name">{{ feedback.user.nom }}</span>
                            <span class="designation">{{ feedback.user.prenom }}</span>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="faq-inner pull-right">
                <div class="faq-content">
                  <div class="sec-title">
                    <span class="sub-title">Your Feedback Matters</span>
                    <h2>Add Your Feedback</h2>
                  </div>
          
                  <ng-container *ngIf="authenticatedUser; else loginMessage">
                    <form (ngSubmit)="submitFeedback()" #feedbackForm="ngForm">
                      <div class="form-group">
                        <label for="description">Feedback</label>
                        <textarea id="description" name="description" class="form-control feedback-textarea" [(ngModel)]="newFeedback.description" required rows="5"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="rating">Rating</label>
                        <br>
                        <div class="rating-stars">
                          <span
                            *ngFor="let star of [1, 2, 3, 4, 5]"
                            class="star"
                            (mouseover)="fillStars(star)"
                            (mouseout)="resetStars()"
                            (click)="setRating(star)"
                            [ngClass]="{ 'filled': star <= selectedRating }"
                          >
                            ★
                          </span>
                        </div>
                      </div>
                      <button type="submit" class="theme-btn btn-one">Submit Feedback</button>
          </form>
        </ng-container>
          
                  <ng-template #loginMessage>
                    <p>Please <a [routerLink]="['/auth/signin-signup']">login</a> to submit feedback.</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </section>
        <section class="weare-section bg-color-2">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-11.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 title-column">
                        <div class="sec-title">
                            <span class="sub-title">Get to Know Us</span>
                            <h2>We’re the Best Summer Camping</h2>
                            <p>Lorem ipsum is simply free text available in the market dolor sit amet, consectetur notted adipisicing elit sed do. Suspendisse finibus urna mauris, quam vel.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_four">
                            <div class="content-box">
                                <figure class="image"><img src="assets/images/resource/weare-1.jpg" alt=""></figure>
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 progress-column">
                                        <div class="progress-inner">
                                            <div class="progress-box">
                                                <div class="piechart"  data-fg-color="#ff6f29" data-value=".90"></div>
                                                <span class="count-text">90%</span>
                                            </div>
                                            <div class="text">
                                                <h4>People Satisfied</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 progress-column">
                                        <div class="progress-inner">
                                            <div class="progress-box">
                                                <div class="piechart"  data-fg-color="#ffbf37" data-value=".50"></div>
                                                <span class="count-text">50%</span>
                                            </div>
                                            <div class="text">
                                                <h4>Tours Completed</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="cta-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="text">
                        <h2>Join Annual Summer Camp</h2>
                    </div>
                    <div class="btn-box">
                        <a [routerLink]="['/reservation/camping-details', camping.id]" class="theme-btn btn-one">Make reseravtion</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="google-map-section">
               <div class="shape" style="background-image: url(assets/images/shape/shape-9.png);"></div>
            <div class="map-inner">
                    <agm-map   class="google-map"  [latitude]="gmapConfig2.lat" [longitude]="gmapConfig2.lng" class="gmaps" (mapReady)="mapReady($event)">
                        <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" *ngFor="let marker of gmapConfig2.markers">
                            <agm-info-window [isOpen]="true">
                                <div>
                                    <h4>{{ marker.title }}</h4>
                                 
                                </div>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
            </div>
        
         </section>