<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="update Reservation"></app-page-title>

<form [formGroup]="editReservation" #updateReservation="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div >
            <div class="card">
                <div class="card-body">
                    <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>
                    <div class="mb-3">
                        <label for="numberReserved" class="form-label">numberReserved<span
                                class="text-danger">*</span></label>
                        <input type="number" id="numberReserved" class="form-control" 
                            required formControlName="numberReserved"
                            [ngClass]="{ 'is-invalid': updateReservation.submitted && form1.numberReserved.invalid }">
                    </div>

                    <div class="mb-3">
                        <label for="totalAmount" class="form-label">totalAmount <span
                                class="text-danger">*</span></label>
                        <input type="text" id="totalAmount" class="form-control" 
                            required formControlName="totalAmount"
                            [ngClass]="{  'is-invalid': updateReservation.submitted && form1.totalAmount.invalid }">
                    </div>
                  
 <div class="mb-3">
                        <label for="camp-activity" class="form-label">Activity <span
                                class="text-danger">*</span></label>
                        <select2 id="camp-activity" [data]="activity" formControlName="activity" (update)="AddActivity($event)">
                        </select2>
                        <div class="mt-2" id="tooltip-container">
                            <ng-container *ngFor="let a of selectedActivity; let i = index; trackBy: trackByItemID">
                                <a href="javascript:void(0);" placement="top" [ngbTooltip]="a.label"
                                    class="d-inline-block me-1">
                                    <img [src]="a.image" width="200" class="img-fluid rounded" alt="activitys">
                                    <i class="fas fa-trash-alt text-danger" (click)="removeActivity(i)"></i>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label >Start date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" required name="dateStart"
                            formControlName="dateStart"
                            [ngClass]="{  'is-invalid': updateReservation.submitted && form1.dateStart.invalid }">
                    </div>
                    <div class="mb-3">
                        <label >End date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" required name="dateEnd"
                            formControlName="dateEnd"
                            [ngClass]="{  'is-invalid': updateReservation.submitted && form1.dateEnd.invalid }">
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-3">
                <button type="submit" class="btn w-sm btn-success waves-effect waves-light me-1" [disabled]="editReservation.invalid">Save</button>
                <button type="button" class="btn w-sm btn-danger waves-effect" [routerLink]="['../../']">Cancel</button>
            </div>
        </div> 
    </div>
</form>