<app-page-title [breadcrumbItems]="pageTitle" title="Statistics "></app-page-title>

<div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let item of statisticsData">
        <app-widget-statistics-card2 [variant]="item.variant" [description]="item.description" [stats]="item.stats"
            [icon]="item.icon" [progress]="item.progress" [options]="item.options"></app-widget-statistics-card2>
    </div> <!-- end col -->
</div>
<div class="row">
<div class="col-xl-4 col-md-6">

    <app-ui-portlet-card cardTitle="camping center capacity availability">
        <div class="text-center">
            <div class="row mt-2">
                <div class="col-6">
                    <app-widget-statistics [stats]=occupied label="unoccupied capacity"
                        labelCssClasses="font-13 text-truncate">
                    </app-widget-statistics>

                </div>
            
                <div class="col-6">
                    <app-widget-statistics [stats]=unocpiied label="occupied capacity"
                        labelCssClasses="font-13 text-truncate">
                    </app-widget-statistics>

                </div>
            </div> <!-- end row -->

            <div dir="ltr">
                <div id="lifetime-sales" class="mt-4">
                    <apx-chart class="apex-charts" [series]="salesChart.series!" [chart]="salesChart.chart!"
                        [plotOptions]="salesChart.plotOptions!" [colors]="salesChart.colors!"
                        [labels]="salesChart.labels!" [legend]="salesChart.legend!" [states]="salesChart.states!"
                        [dataLabels]="salesChart.dataLabels!" [tooltip]="salesChart.tooltip!"></apx-chart>
                </div>
            </div>
        </div>
    </app-ui-portlet-card>

</div> <!-- end col-->
<div class="col-xl-8 col-md-6">
    <app-ui-portlet-card cardTitle=" Average  Rate by Month">

        <div id="line-chart">
            <apx-chart class="apex-charts" [series]="lineChartOptions1.series!" [chart]="lineChartOptions1.chart!"
                [xaxis]="lineChartOptions1.xaxis!" [dataLabels]="lineChartOptions1.dataLabels!"
                [grid]="lineChartOptions1.grid!" [stroke]="lineChartOptions1.stroke!"
                [colors]="lineChartOptions1.colors!"></apx-chart>
        </div>

    </app-ui-portlet-card>
</div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="float-end" ngbDropdown>
              
                   
                </div>

                <h4 class="header-title mb-3" i18n>Top 5 Reserved activities </h4>

                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-nowrap table-centered m-0">

                        <thead class="table-light">
                            <tr>
                                <th  i18n>Picture</th>
                                <th i18n>Label</th>
                                <th i18n>Number</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of listAvtivity">
                                <td style="width: 36px;">
                                    <img [src]="record.imageUrl" alt="contact-img" title="contact-img"
                                        class="rounded-circle avatar-sm" />
                                </td>

                                <td>
                                    <h5 class="m-0 fw-normal" i18n>{{record.name}}</h5>

                                </td>


                                <td>
                                     {{record.id}}
                                </td>

                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 

</div>

    <div class="widget-chart text-center col-xl-4 col-md-6"> 
        <app-ui-portlet-card cardTitle=" Total Revenue per occupied capacity">

        <div id="total-revenue" class="mt-0">
            <apx-chart class="apex-charts" [series]="revenuChart.series!" [chart]="revenuChart.chart!"
                [plotOptions]="revenuChart.plotOptions!" [colors]="revenuChart.colors!"
                [labels]="revenuChart.labels!"></apx-chart>
        </div>
        </app-ui-portlet-card>

</div>
  <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
            
                <h4 class="header-title">Statistics Reservation per Month</h4>
                <div class="mt-3 chartjs-chart">
                    <canvas id="revenue-chart" baseChart height="300" [datasets]="revenueChartOptions.datasets"
                        [type]="revenueChartOptions.type" [labels]="revenueChartOptions.chartLabels"
                        [options]="revenueChartOptions.chartOptions"></canvas>
                </div>
            </div>
        </div> 
    </div> 

   
</div>
<div class="col-xl-12" *ngIf="getKeys(CampingFeedbacks).length > 0">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Camping Centers and General Rating</h4>
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-nowrap table-centered table-fluid m-0">
                <thead class="table-light">
              <tr>
                <th i18n>Name</th>
                <th i18n>Rating</th>
                <th i18n>Average Sentiment</th>
                <th i18n>General Rating</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let campcenter of campcenters" >
                <td>{{ campcenter.label }}</td>
                <td>
                  <div class="rating-stars" [innerHTML]="getRatingStars(campingRatings[campcenter.id])"></div>
                </td>
                <td>
                  {{ calculateAverageSentimentPercentage(campingSentiments[campcenter.id]) | number: '1.1-2' }}%
                </td>
                <td>
                    <div class="progress">
                        <div [ngClass]="getProgressBarClass(calculateGeneralRating(campingRatings[campcenter.id], campingSentiments[campcenter.id]))"
                             role="progressbar"
                             [style.width.%]="calculateGeneralRating(campingRatings[campcenter.id], campingSentiments[campcenter.id])">
                             {{ calculateGeneralRating(campingRatings[campcenter.id], campingSentiments[campcenter.id]) | number: '1.0-2' }}%
                        </div>
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 

    <div class="col-xl-12" *ngIf="getKeys(ActivityFeedbacks).length > 0">
        <div class="card">
        <div class="card-body">
            <h4 class="header-title">Activities and General Rating</h4>
            <div class="table-responsive">
                <table class="table table-borderless table-hover table-nowrap table-centered table-fluid m-0">

                <thead class="table-light">
                <tr>
                    <th i18n>Name</th>
                    <th i18n>Rating</th>
                    <th i18n>Average Sentiment</th>
                    <th i18n>General Rating</th> 
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let activity of activities">
                    <td>{{ activity.label }}</td>
                    <td>
                    <div class="rating-stars" [innerHTML]="getRatingStars(activityRatings[activity.id])"></div>
                    </td>
                    <td>
                    {{ calculateAverageSentimentPercentage(activitySentiments[activity.id]) | number: '1.1-2' }}%
                    </td>
                    <td>
                        <div class="progress">
                            <div [ngClass]="getProgressBarClass(calculateGeneralRating(activityRatings[activity.id], activitySentiments[activity.id]))"
                                 role="progressbar"
                                 [style.width.%]="calculateGeneralRating(activityRatings[activity.id], activitySentiments[activity.id]) ">
                                 {{ calculateGeneralRating(activityRatings[activity.id], activitySentiments[activity.id]) | number: '1.0-2' }}%
                            </div>
                          </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="col-xl-12" *ngIf="getKeys(ProductFeedbacks).length > 0">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Products and General Rating</h4>
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-nowrap table-centered table-fluid m-0">
                <thead class="table-light">
              <tr>
                <th i18n>Name</th>
                <th i18n>Rating</th>
                <th i18n>Average Sentiment</th>
                <th i18n>General Rating</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>

                  <div class="rating-stars" [innerHTML]="getRatingStars(productRatings[product.id])"></div>
                </td>
                <td>
                  {{ calculateAverageSentimentPercentage(productSentiments[product.id]) | number: '1.1-2' }}%
                </td>
                <td>
                  <div class="rating-circle">
                    {{ calculateGeneralRating(productRatings[product.id], productSentiments[product.id]) | number: '1.0-2' }}%
                  </div>
                                          <div class="progress">
                            <div [ngClass]="getProgressBarClass(calculateGeneralRating(productRatings[product.id], productSentiments[product.id]))"
                                 role="progressbar"
                                 [style.width.%]="calculateGeneralRating(productRatings[product.id], productSentiments[product.id]) ">
                                 {{ calculateGeneralRating(productRatings[product.id], productSentiments[product.id]) | number: '1.0-2' }}%
                            </div>
                          </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
  