
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <a routerLink="add-activitiy" class="btn btn-success waves-effect waves-light"><i
                                class='fe-plus me-1'></i> Add New</a>
                    </div>
                  
                </div>
               <div class="row">
                <p class="text-muted font-14"> 
                    These is the list of available activities , to see more details click on details .
                </p>
                <!-- table start -->
               <app-advanced-table [tableData]="records" [columns]="columns" [pagination]="true"
               [pageSizeOptions]="pageSizeOptions" [isSearchable]="true"
               (search)="searchData($event)" [isSortable]="true" 
               (sort)="onSort($event)"
                    (viewClicked)="onViewClicked($event)"
                     (editClicked)="onEditClicked($event)" 
                     [showStatusChangeButton]="false"
                     >
                </app-advanced-table>
                <!-- table end --
                   </div>                                                                                                                                                                                                                                                                                                                                                                                                                   

            </div> 
            <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>