// 
// pagination.scss
//


// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 6px;
        border: none;
        background-color:#ffbf37 !important;
        border-color:#ffbf37 !important;
        color: black !important;
        margin-right: 10px !important;
        
    }
    .page-item {
        &:last-child {
            .page-link {
                margin-right: 0px;
            }
        }
    }
}

.pagination {
    a {
        line-height: $line-height-sm !important;
    }
}