/* activity-details.component.scss */
.add-feedback-box {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 30px;
  }
  
  .add-feedback-box h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .add-feedback-box .form-group {
    margin-bottom: 20px;
  }
  
  .add-feedback-box button {
    width: 100%;
  }
  