<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="camping-center Detail"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-1 user-avatar width-100">
                        <img *ngIf="user.avatar; else noAvatar" src={{user.avatar}} alt=""
                            class="rounded-circle width-150">
                        <ng-template #noAvatar>
                            <div class="initials">{{ user.prenom?.charAt(0) }}{{ user.nom?.charAt(0) }}</div>
                        </ng-template>
                    </div> <!-- end col -->
                    <div class="col-lg-7 d-flex justify-content-between">
                        <div class="ps-xl-3 mt-3 mt-xl-0">
                            <h4 class="mb-4">Name: <span class="text-muted me-2"> {{user.nom}} {{user.prenom}}</span>
                            </h4>
                            <h4 class="mb-4">Email: <span class="text-muted me-2"> {{user.email}}</span>
                            </h4>
                        </div>
                        <!-- <div class="col-lg-3 d-flex flex-column justify-content-end gap-1">
                            <button type="button"
                                class="btn w-sm btn-success waves-effect waves-light" [routerLink]="['../../']">Update</button>
                            <button type="button" class="btn w-sm btn-danger waves-effect" >Cancel</button>
                        </div> -->
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <app-user-statistics-by-month [userId]="id"></app-user-statistics-by-month>
    </div>
    <div class="col-lg-4">
        <app-user-statistics-by-season [userId]="id"></app-user-statistics-by-season>
    </div>
</div>