<div class="row">
    <div class="col-xl-6">
        <app-ui-portlet-card cardTitle="Revenue from User and number of reservations by month">

            <div id="mixed-chart">
                <apx-chart class="apex-charts" [series]="mixedChartOptions.series!" [chart]="mixedChartOptions.chart!"
                    [yaxis]="mixedChartOptions.yaxis!" [xaxis]="mixedChartOptions.xaxis!"
                    [labels]="mixedChartOptions.labels!" [stroke]="mixedChartOptions.stroke!"
                    [plotOptions]="mixedChartOptions.plotOptions!" [markers]="mixedChartOptions.markers!"
                    [fill]="mixedChartOptions.fill!" [tooltip]="mixedChartOptions.tooltip!"
                    [colors]="mixedChartOptions.colors!"></apx-chart>
            </div>

        </app-ui-portlet-card>
    </div>
    <!-- end col-->

</div>