<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Add  Camp"></app-page-title>

<form [formGroup]="newCamp" #addCamp="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>

                    <div class="mb-3">
                        <label for="camp-Label" class="form-label">camp Label <span
                                class="text-danger">*</span></label>
                        <input type="text" id="camp-Label" class="form-control" 
                            required formControlName="label"
                            [ngClass]="{ 'is-invalid': addCamp.submitted && form1.label.invalid }">
                    </div>

                    <div class="mb-3">
                        <label for="camp-location" class="form-label">location <span
                                class="text-danger">*</span></label>
                        <input type="text" id="camp-location" class="form-control" 
                            required formControlName="location"
                            [ngClass]="{  'is-invalid': addCamp.submitted && form1.location.invalid }" hidden>
                            
                            <agm-map [latitude]="gmapConfig2.lat" [longitude]="gmapConfig2.lng" class="gmaps">
                                <agm-marker *ngFor="let marker of gmapConfig2.markers"
                                  [latitude]="marker.lat"
                                  [longitude]="marker.lng"
                                  [markerDraggable]="marker.draggable"
                                  (dragEnd)="markerDragEnd($event, marker)">
                                  <agm-info-window>{{ marker.title }}</agm-info-window>
                                </agm-marker>
                              </agm-map>
                    </div>
                 
                  

                    <div class="mb-3">
                        <label for="camp-description" class="form-label">camp Description <span
                                class="text-danger">*</span></label>

                        <div id="snow-editor">
                            <quill-editor formControlName="description" [styles]="{height: '150px'}" #quillEditor
                                [sanitize]="true">
                            </quill-editor>
                        </div> <!-- end Snow-editor-->
                    </div>

              <div class="mb-3">
                <label for="camp-capacity" class="form-label">capacity <span
                    class="text-danger">*</span></label>
            <input type="number" id="camp-capacity" class="form-control"  placeholder="enter capacity"
                required formControlName="capacity"
                [ngClass]="{  'is-invalid': addCamp.submitted && form1.capacity.invalid }">
              </div>
                    <div class="mb-3">
                        <label for="camp-discount" class="form-label">discount <span
                                class="text-danger">*</span></label>
                        <input type="number" id="camp-discount" class="form-control"  placeholder="enter discount"
                            required formControlName="discount"
                            [ngClass]="{  'is-invalid': addCamp.submitted && form1.discount.invalid }">
                    </div>

                    <div class="mb-3">
                        <label for="camp-price">Price <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="camp-price" placeholder="Enter amount" required
                            formControlName="price"
                            [ngClass]="{  'is-invalid': addCamp.submitted && form1.price.invalid }">
                    </div>
                    <div class="mb-3">
                        <label for="camp-telephone">telephone <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="camp-telephone" placeholder="Enter telephone" required
                            formControlName="telephone"
                            [ngClass]="{  'is-invalid': addCamp.submitted && form1.telephone.invalid }">
                    </div>

                    <div class="mb-3">
                        <label class="mb-2">Status <span class="text-danger">*</span></label>
                        <br />
                        <div class="d-flex flex-wrap">
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" value=true 
                                    formControlName="active" id="inlineRadio1" checked>
                                <label class="form-check-label" for="inlineRadio1">Active</label>
                            </div>
                            <div class="form-check me-2">
                                <input class="form-check-input" type="radio" value=false 
                                    formControlName="active" id="inlineRadio2">
                                <label class="form-check-label" for="inlineRadio2">Inactive</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">camp Images</h5>
                    

                    <ngx-dropzone (change)="onSelect($event)" class="dropzone"
                        accept="image/jpeg,image/jpg,image/png,image/gif">
                        <ngx-dropzone-label>
                            <i class="h1 text-muted dripicons-cloud-upload"></i>
                            <h3>Drop files here or click to upload.</h3>
                            <span class="text-muted font-13">( Selected files are
                                <strong>not</strong> actually uploaded.)</span>
                        </ngx-dropzone-label>
                        <div class="dropzone-spinner" *ngIf="loader">
                            <div class="spinner-border text-success" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                    </ngx-dropzone>

                    <!-- Preview -->
                    <div class="dropzone-previews mt-3" id="file-previews">
                        <!-- file preview template -->
                        <div id="uploadPreviewTemplate" *ngFor="let f of files">
                            <div class="card mt-1 mb-0 shadow-none border">
                                <div class="p-2">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img class="avatar-sm rounded bg-light" [alt]="f.name"
                                                [src]="getPreviewUrl(f)">
                                        </div>
                                        <div class="col ps-0">
                                            <a href="javascript:void(0);" class="text-muted fw-bold">{{f.name}}</a>
                                            <p class="mb-0">{{getSize(f)}}</p>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Button -->
                                            <a href="javascript:void(0)" class="btn btn-link btn-lg text-muted"
                                                (click)="onRemove($event)">
                                                <i class="dripicons-cross"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

          

        </div> <!-- end col-->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-12">
            <div class="text-center mb-3">
                <button type="submit" class="btn w-sm btn-success waves-effect waves-light me-1" >Save</button>
                <button type="button" class="btn w-sm btn-danger waves-effect" [routerLink]="['../']">Cancel</button>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</form>