<app-page-title [breadcrumbItems]="pageTitle" title="Activity Feedbacks"></app-page-title>
<div class="row">
  <div class="col-lg-12" *ngFor="let activity of activities">
    <div class="card" [class.closed]="isClosed">
      <div class="card-header py-3 bg-dark text-light" [class]="getCardHeaderClass(activity.id)">
        <div class="card-widgets">
          <a href="javascript:void(0);" (click)="refreshCardContent(activity.id)">
            <i class="mdi mdi-refresh"></i>
          </a>
          <a href="javascript:void(0)" (click)="toggleCollapse(activity.id)"
            [attr.aria-expanded]="!isCardCollapsed[activity.id]"
            role="button" [attr.aria-controls]="'collapse-' + activity.id">
            <i [class]="isCardCollapsed[activity.id] ? 'mdi mdi-plus' : 'mdi mdi-minus'"></i>
          </a>
          <a href="javascript:void(0)" (click)="closeCard()"><i class="mdi mdi-close"></i></a>
        </div>
        <h3 class="card-title mb-0 text-light">
          {{ activity.label }}
        </h3>
      </div>

      <div [id]="'collapse-' + activity.id" class="collapse" [class.show]="!isCardCollapsed[activity.id]">
        <div class="card-body">
          <div *ngIf="isRefreshing[activity.id]" class="loading-spinner"></div>
          <table class="table table-hover" *ngIf="!isRefreshing[activity.id]">
            <thead>
              <tr>
                <th>Customer Name</th>
                <th>Description</th>
                <th class="text-right">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let feedback of feedbacks[activity.id]">
                <td>{{ feedback.user.nom }} {{ feedback.user.prenom }}</td>
                <td class="col-description">{{ feedback.description }}</td>
                <td class="text-right col-rating">
                  <div class="rating-stars">
                    <i class="mdi mdi-star star-filled" *ngFor="let _ of [].constructor(feedback.rating)"></i>
                    <i class="mdi mdi-star-outline star-empty" *ngFor="let _ of [].constructor(5 - feedback.rating)"></i>
                  </div>
                </td>
              </tr>
              <tr *ngIf="feedbacks[activity.id]?.length === 0">
                <td colspan="3" class="text-center">No feedbacks available</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
    </div>
  </div>
</div>
