<!-- page title -->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" >
          <div class="row">
            <div class="col-lg-4">
                <form [formGroup]="newCommandForm" #addCommand="ngForm" (ngSubmit)="saveCommand()">
                <ul ngbNav #nav="ngbNav" class="nav-pills flex-column navtab-bg nav-pills-tab text-center">
                  <!--section billing info--> 
                    <li ngbNavItem>
                        <a ngbNavLink class="py-2">
                          <i class="mdi mdi-account-circle d-block font-24"></i>
                          Customer Info
                        </a>
                        <ng-template ngbNavContent>
                          <div>
                            <h4 class="header-title">Customer Information</h4>
      
                            <p class="sub-header">Fill the form below in order to send you the order's invoice.</p>
      
                            <div class="row">
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="customerFirstName" class="form-label">First Name</label>
                                  <input class="form-control" type="text" formControlName="customerFirstName" placeholder="Enter your first name" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="customerLastName" class="form-label">Last Name</label>
                                  <input class="form-control" type="text" formControlName="customerLastName" placeholder="Enter your last name" />
                                </div>
                              </div>
                            </div>
                            <!-- end row -->
                            <div class="row">
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="customerEmail" class="form-label">Email Address <span class="text-danger">*</span></label>
                                  <input class="form-control" type="email" formControlName="customerEmail" placeholder="Enter your email" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="Phone" class="form-label">Phone <span class="text-danger">*</span></label>
                                  <input class="form-control" type="text" formControlName="phoneNumber" placeholder="(xx) xxx xxxx xxx" />
                                </div>
                              </div>
                            </div>
                            <!-- end row -->
                            <div class="row">
                              <div class="col-12">
                                <div class="mb-3">
                                  <label for="shippingAddress" class="form-label">Shipping Address</label>
                                  <input class="form-control" type="text" formControlName="shippingAddress" placeholder="Enter full address" id="billing-address">
                                </div>
                              </div>
                            </div>
                            <!-- end row -->
      
                            <div class="row">
                              <div class="col-12">
      
                              </div>
                            </div>
                            <!-- end row -->
      
                            <div class="row mt-4" style="display:flex ;">
                              <div class="col-sm-6">
                                <a [routerLink]="['shopping-carts']" class="btn btn-secondary" style="background-color: #3b251a;">
                                  <i class="mdi mdi-arrow-left"></i> Back to Shopping Cart
                                </a>
                              </div>
                              <!-- end col -->
                              <!-- end col -->
                            </div>
                            <!-- end row -->
      
                          </div>
                        </ng-template>
                      </li>
                      <!-- section Shipping Info-->
                      <li ngbNavItem>
                        <a ngbNavLink class="mt-2 py-2">
                          <i class="mdi mdi-truck-fast d-block font-24"></i>
                          Shipping Info
                        </a>
                        <ng-template ngbNavContent id="Shipping-id">
                          <div>
                            <h4 class="header-title">Saved Address</h4>
      
                            <p class="sub-header">Fill the form below in order to send you the order's .</p>
                            <p class="mb-1"><span class="fw-semibold me-2">Address:</span> {{ newCommandForm.get('shippingAddress')?.value }}</p>
                            <p class="mb-1"><span class="fw-semibold me-2">Phone:</span> {{ newCommandForm.get('phoneNumber')?.value }}</p>
            
                                      
      
                                
                            <!-- end row-->
      
                            <h4 class="header-title mt-4">Shipping Method</h4>
      
                            <p class="text-muted mb-3">Fill the form below in order to send you the order's invoice.</p>
      
                            <div class="row">
                              <div class="col-md-12">
                                <div class="border p-3 rounded mb-3">
                                  <div class="form-check">
                                    <input type="radio" id="shippingMethodRadio1" name="method" class="form-check-input" value="Standard Delivery" formControlName="method">
                                    <label class="form-check-label font-16 fw-bold" for="shippingMethodRadio1">Standard Delivery -
                                      FREE</label>
                                  </div>
                                  <p class="mb-0 ps-3 pt-1">Estimated 5-7 days shipping (Duties and tax may be due upon delivery)</p>
                                </div>
      
                                <div class="border p-3 rounded">
                                  <div class="form-check">
                                    <input type="radio" id="shippingMethodRadio2" name="method" class="form-check-input" value="Fast Delivery " formControlName="method">
                                    <label class="form-check-label font-16 fw-bold" for="shippingMethodRadio2">Fast Delivery -
                                      8DT</label>
                                  </div>
                                  <p class="mb-0 ps-3 pt-1">Estimated 1-2 days shipping (Duties and tax may be due upon delivery)</p>
                                </div>
                              </div>
                            </div>
                            <!-- end row-->
                            <div class="row mt-4">
                                <div class="col-sm-6 ">
                                    <a [routerLink]="['shopping-carts']" class="btn btn-secondary" style="background-color: #3b251a;">
                                        <i class="mdi mdi-arrow-left"></i> Back to Shopping Cart </a>
                                </div> <!-- end col -->
                                <div class="col-sm-6 text-sm-end">
                                    
                                        <a  type="submit" class="btn "  (click)="saveCommand()" style="background-color:#ff6f29;color: white;">
                                            <i class="mdi mdi-cash-multiple me-1"></i> Save Personal Info </a>
                                          
                                    
                                </div> <!-- end col -->
                            </div>
                           
                            <!-- end row -->
                          </div>
                        </ng-template>
                      </li>
                  
                
                  <!--section Payment Info-->
                  <li ngbNavItem>
                    <a ngbNavLink class="mt-2 py-2">
                      <i class="mdi mdi-cash-multiple d-block font-24"></i>
                      Payment Info
                    </a>
                    <ng-template ngbNavContent id="Payment-id">
                      <div>
                        <h4 class="header-title">Payment Selection</h4>
  
                        <p class="sub-header">Fill the form below in order to send you the order's invoice.</p>
  
                        <!-- Pay with Paypal box-->
                        <!-- end Pay with Paypal box-->
  
                        <!-- Credit/Debit Card box-->
                        <div class="border p-3 mb-3 rounded">
                          <div class="float-end">
                            <i class="far fa-credit-card font-24 " style="color:#ff6f29 ;"></i>
                          </div>
                          <div class="form-check">
                            <input type="radio" id="BillingOptRadio1" name="method" class="form-check-input" value="pm_card_visa" formControlName="method" checked>
                            <label class="form-check-label font-16 fw-bold" for="BillingOptRadio1">Credit / Debit Card</label>
                          </div>
                          <p class="mb-0 ps-3 pt-1">Safe money transfer using your bank account. We support Mastercard, Visa, Discover, and Stripe.</p>
  
                          <div class="row mt-4">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="cardNumber" class="form-label">Card Number</label>
                                <input type="text" id="Numbercard" class="form-control" name="Numbercard"formControlName="Numbercard" data-toggle="input-mask" data-mask-format="0000 0000 0000 0000" placeholder="4242 4242 4242 4242">
                              </div>
                            </div>
                          </div> <!-- end row -->
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="cardHolderName" class="form-label">Name on card</label>
                                <input type="text" id="HolderName" class="form-control" formControlName="HolderName" placeholder="Master Shreyu">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="mb-3">
                                <label for="expirationDate" class="form-label">Expiry date</label>
                                <input type="text" id="expirationDate" class="form-control" formControlName="expirationDate" data-toggle="input-mask" data-mask-format="00/00" placeholder="MM/YY">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="mb-3">
                                <label for="cvv" class="form-label">CVV code</label>
                                <input type="text" id="cvv" class="form-control" formControlName="cvv" data-toggle="input-mask" data-mask-format="000" placeholder="012">
                              </div>
                            </div>
                          </div> <!-- end row -->
                        </div>
                        <!-- end Credit/Debit Card box-->
  
                        <!-- Cash on Delivery box-->
                        <div class="border p-3 mb-3 rounded">
                          <div class="float-end">
                            <i class="fas fa-money-bill-alt font-24 " style="color:#ff6f29 ;"></i>
                          </div>
                          <div class="form-check">
                            <input type="radio" id="BillingOptRadio4" name="method"  class="form-check-input">
                            <label class="form-check-label font-16 fw-bold" for="BillingOptRadio4">Cash on Delivery</label>
                          </div>
                          <p class="mb-0 ps-3 pt-1">Pay with cash when your order is delivered.</p>
                        </div>
                        <!-- end Cash on Delivery box-->
  
                        <div class="row mt-4">
                            <div class="col-sm-6 ">
                                <a [routerLink]="['shopping-carts']" class="btn btn-secondary" style="background-color: #3b251a;">
                                    <i class="mdi mdi-arrow-left"></i> Back to Shopping Cart </a>
                            </div> <!-- end col -->
                            <div class="col-sm-6 text-sm-end">
                                
                                    <a  type="submit" class="btn " (click)="payment()" style="background-color:#ff6f29;color: white;">
                                        <i class="mdi mdi-cash-multiple me-1"></i> Save Order </a>
                                
                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->
  
                      </div>
                    </ng-template>
                  </li>


                  <!--section Payment Info-->
                <li ngbNavItem>
                    <a ngbNavLink class="mt-2  py-2">
                        <i class="fa-solid fa-download  d-block font-24"></i>
                        Billing Info
                    </a>
                    <ng-template ngbNavContent id="bill-id" >
                        <div class="col-lg-12"#pdfContent > <!-- HTML Table for Order Summary -->
                            <div class="table-responsive">
                                <h3>Billing Information </h3>
                              <table class="table table-bordered mt-4">
                                <!-- Billing Info -->
                                <tr>
                                  <th colspan="2"style="color:#ff6f29 ;">Billing Info</th>
                                </tr>
                                <tr>
                                  <td>First Name:</td>
                                  <td>{{ newCommandForm.value.customerFirstName }}</td>
                                </tr>
                                <tr>
                                  <td>Last Name:</td>
                                  <td>{{ newCommandForm.value.customerLastName }}</td>
                                </tr>
                                <tr>
                                  <td>Email Address:</td>
                                  <td>{{ newCommandForm.value.customerEmail }}</td>
                                </tr>
                                <tr>
                                  <td>Phone Number:</td>
                                  <td>{{ newCommandForm.value.phoneNumber }}</td>
                                </tr>
                                <tr>
                                  <td>Shipping Address:</td>
                                  <td>{{ newCommandForm.value.shippingAddress }}</td>
                                </tr>
                            
                                <!-- Shipping Info -->
                                <tr>
                                  <th colspan="2" style="color:#ff6f29;">Shipping Info</th>
                                </tr>
                                <tr>
                                  <td>Shipping Method:</td>
                                  <td>{{ newCommandForm.value.method }}</td>
                                </tr>
                            
                               
                              </table>
                     
            <div class="border mt-4 rounded">
                <h4 class="header-title p-2 mb-0">Order Summary</h4>
  
                <div class="table-responsive">
                  <table class="table table-centered table-nowrap mb-0" *ngFor="let item of productCommands">
                    <tbody>
                      <tr>
                        <td style="width: 90px;">
                          <img [src]="item.product.image" alt="product-img" title="product-img" class="rounded" height="48" />
                        </td>
                        <td>
                          <a href="javascript:void(0)" class="text-body fw-semibold">{{item.product.name}}</a>
                          <br>
                          <small>{{item.quantity}} x{{item.product.price}}</small>
  
                        </td>
                        <td class="text-end">
                          matricule: {{item.product.matricule}}
                        </td>
                      </tr>
  
                      <tr class="text-end">
                        <td colspan="2">
                        </td>
                        <td class="fw-semibold">
                          <h5 class="text-end m-0">Total : {{item.priceTotal}} DT</h5>
  
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end table-responsive -->
              </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6 ">
                                    <a [routerLink]="['shopping-carts']" class="btn btn-secondary" style="background-color: #3b251a;">
                                        <i class="mdi mdi-arrow-left"></i> Back to Shopping Cart </a>
                                </div> <!-- end col -->
                                <div class="col-sm-6 text-sm-end">
                                    
                                        <a  type="button" class="btn " (click)="downloadBill()" style="background-color:#ff6f29;color: white;">
                                            <i class="fa-solid fa-download"></i>  Download Bill </a>
                                    
                                </div> <!-- end col -->
                            </div>

                            </div>
                    </ng-template>
                </li>
                </ul>
            </form>
            
            <div class="border mt-4 rounded">
                <h4 class="header-title p-2 mb-0">Order Summary</h4>
  
                <div class="table-responsive">
                  <table class="table table-centered table-nowrap mb-0" *ngFor="let item of productCommands">
                    <tbody>
                      <tr>
                        <td style="width: 90px;">
                          <img [src]="item.product.image" alt="product-img" title="product-img" class="rounded" height="48" />
                        </td>
                        <td>
                          <a href="javascript:void(0)" class="text-body fw-semibold">{{item.product.name}}</a>
                          <br>
                          <small>{{item.quantity}} x{{item.product.price}}</small>
  
                        </td>
                        <td class="text-end">
                          matricule: {{item.product.matricule}}
                        </td>
                      </tr>
  
                      <tr class="text-end">
                        <td colspan="2">
                        </td>
                        <td class="fw-semibold">
                          <h5 class="text-end m-0">Total : {{item.priceTotal}} DT</h5>
  
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end table-responsive -->
              </div>
              <!-- end .border-->
            </div>
            <!-- end col-->
            <div class="col-lg-8">
              <div [ngbNavOutlet]="nav" class="p-3"></div>
            </div>
            <!-- end col-->
          </div>
          <!-- end row-->
  
        </div>
        
      </div>
    </div>
   
  </div>
  <!-- end row -->
  