<div class="container-fluid product-container" style="background-color:white ;">
    <div class="row">
      <div class="col-12" >
        <!-- Search and sort form -->
        <div class="card" style="background-color: rgb(244, 241, 241); margin: 15px;">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <form class="d-flex flex-wrap align-items-center">
                  <label for="inputPassword2" class="visually-hidden">Search</label>
                  <div class="me-3">
                    <input type="search" class="form-control my-1 my-lg-0" id="inputPassword2" name="search"
                    placeholder="Search..." [(ngModel)]="searchTerm"
                    (ngModelChange)="searchData($event)">
                  </div>
                 
                  <div class="me-sm-3">
                   
                  </div>
                </form>
              </div>
              <div class="col-auto">
                <!-- Add New button -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Advanced table -->
    <div class="row" style="margin: 20px;">
      <div class="col-12" style="overflow-x: auto;">
        <table class="table table-centered" >
            <thead class="table-light">
              <tr>
                <!-- Render column labels -->
                <th *ngFor="let column of columns">{{ column.label }}</th>
                <!-- Action column label -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Render table rows -->
              <tr *ngFor="let command of commands">
                <!-- Render column values -->
                <td *ngFor="let column of columns">
                    
                  <div [innerHTML]="column.formatter(command)"></div>
                </td>
                <!-- Action buttons -->
                <td>
                    <a (click)="editCommand(command.id)" class="action-icon">
                        <i class="fa-solid fa-eye"></i>
                      </a>
                    
                  
                </td>
              </tr>
            </tbody>
        
          </table>
        <div class="col-12">
          <div class="d-flex justify-content-end mb-2">
            <ngb-pagination [collectionSize]="totalItems" class="pagination-rounded" [(page)]="currentPage" [pageSize]="itemsPerPage"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  