

        <!-- main header -->
        <header class="main-header header-style-one">
            <div class="header-lower">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                </div>
                <div class="outer-box">
                    <div class="menu-area">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a routerLink="/">Home</a>
                                       
                                    </li> 
                                    <li class=" dropdown"><a href="index.html">Activities</a>
                                        <ul>
                                            <li><a href="activities.html">Activities</a></li>
                                            <li><a href="climbing.html">Climbing</a></li>
                                            <li><a href="adventure.html">Adventure</a></li>
                                            <li><a href="camping.html">Camping</a></li>
                                            <li><a href="diving.html">Diving</a></li>
                                            <li><a href="parachute.html">Parachute</a></li>
                                            <li><a href="throwing.html">Throwing</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="index.html">Pages</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="gallery.html">Our Gallery</a></li>
                                            <li><a href="error.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="index.html">Elements</a>
                                        <div class="megamenu">
                                            <div class="row clearfix">
                                                <div class="col-lg-6 column">
                                                    <ul>
                                                        <li><h4>Elements 1</h4></li>
                                                        <li><a href="about-element-1.html">About Block 01</a></li>
                                                        <li><a href="about-element-2.html">About Block 02</a></li>
                                                        <li><a href="about-element-3.html">About Block 03</a></li>
                                                        <li><a href="activities-element-1.html">Activities Block 01</a></li>
                                                        <li><a href="activities-element-2.html">Activities Block 02</a></li>
                                                        <li><a href="news-element-1.html">News Block 01</a></li>
                                                        <li><a href="news-element-2.html">News Block 02</a></li>
                                                        <li><a href="team-element-1.html">Team Block 01</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 column">
                                                    <ul>
                                                        <li><h4>Elements 2</h4></li>
                                                        <li><a href="team-element-2.html">Team Block 02</a></li>
                                                        <li><a href="feature-element-1.html">Feature Block 01</a></li>
                                                        <li><a href="feature-element-2.html">Feature Block 02</a></li>
                                                        <li><a href="video-element.html">Video Block</a></li>
                                                        <li><a href="gallery-element.html">Gallery Block</a></li>
                                                        <li><a href="testimonial-element.html">Testimonial Block</a></li>
                                                        <li><a href="cta-element.html">Cta Block</a></li>
                                                        <li><a href="clients-element.html">Clients Block</a></li>
                                                    </ul>
                                                </div>                                      
                                            </div>                                            
                                        </div>
                                    </li>
                                    <li class="dropdown"><a href="index.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>                              
                                    <li><a routerLink="contact">contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-right-content">
                       
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-magnifying-glass"></i></button>
                                <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-box"><a href="index.html"><i class="flaticon-shopping-cart"></i></a></div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="outer-box">
                    <div class="menu-area">
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                    </div>
                    <div class="menu-right-content">
                        <div class="support-box">
                            <div class="icon"><i class="flaticon-chat"></i></div>
                            <span>Call Anytime</span>
                            <h5><a href="tel:12463330079">+1- ( 246 ) 333 - 0079</a></h5>
                        </div>
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-magnifying-glass"></i></button>
                                <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-box"><a href="index.html"><i class="flaticon-shopping-cart"></i></a></div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->