/* .account-user-avatar .initials{
    height: 100% !important;
    
}
.account-user-avatar {
    margin: 15px 0px;
    max-height: 50px !important;
    height: 40px !important;
    width: 40px !important;
    padding-bottom: 10px;
} */
.account-user-avatar .initials{
    width: 60px !important;
}