<div class="row">
    <div class="col-xl-6">
        <app-ui-portlet-card cardTitle="Revenue from User by seasonal activities">
            <div id="pie-chart">
                <apx-chart class="apex-charts" [series]="revenueBySeasonChart.series!"
                    [chart]="revenueBySeasonChart.chart!" [labels]="revenueBySeasonChart.labels!"
                    [colors]="revenueBySeasonChart.colors!" [dataLabels]="revenueBySeasonChart.dataLabels!"
                    [responsive]="revenueBySeasonChart.responsive!" [legend]="revenueBySeasonChart.legend!">
                </apx-chart>
            </div>
        </app-ui-portlet-card>
    </div>

    <div class="col-xl-6">
        <app-ui-portlet-card cardTitle="Number of reservations by seasonal activities">

            <div id="donut-chart">
                <apx-chart class="apex-charts" [series]="reservationNumberBySeasonChart.series!" [chart]="reservationNumberBySeasonChart.chart!"
                    [labels]="reservationNumberBySeasonChart.labels!" [fill]="reservationNumberBySeasonChart.fill!"
                    [responsive]="reservationNumberBySeasonChart.responsive!" [dataLabels]="revenueBySeasonChart.dataLabels!"
                    [colors]="reservationNumberBySeasonChart.colors!" [legend]="reservationNumberBySeasonChart.legend!"></apx-chart>
            </div>
        </app-ui-portlet-card>
    </div>
    <!-- end col-->
</div>